@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #BEE9E8; /* 淺藍綠色背景 */
  --foreground: #2e2518; /* 深咖啡色文字 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1a140d; /* 深咖啡色背景 */
    --foreground: #f5ede4; /* 淺米色文字 */
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
















